In [3]:
import mysql.connector

mydb_conn = mysql.connector.connect(
    host = "mysql-library-database-sql-database-project-1.e.aivencloud.com",
    user = "avnadmin",
    password = "AVNS_UOValGtpsHEmocnN6I5",
    port=28505,
    database='library'
)

print(mydb_conn)

<mysql.connector.connection.MySQLConnection object at 0x068760F0>

In [4]:
cursor = mydb_conn.cursor()
cursor

In [8]:
cursor.execute("USE library")


result = cursor.fetchall()
result

[]

In [10]:
cursor.execute("SHOW TABLES;")
tables = cursor.fetchall()
print("Tables in database:", tables)

Tables in database: [('Books',), ('Loans',), ('Patrons',)]

In [12]:
# /-- 1- find the number of availalbe copies of the book (Dracula)

cursor.execute("""
SELECT COUNT(*) as avail_copies_of_Dracula FROM Books 
WHERE Title = 'Dracula' AND BookID NOT IN (
SELECT BookID FROM Loans WHERE ReturnedDate IS NULL
);
""")

result = cursor.fetchall()
result

[(2,)]

In [13]:
# /-- 2- check total copies of the book (answer 1)
cursor.execute("""
SELECT COUNT(*) as total_copies FROM Books
WHERE Title = 'Dracula';
""")

result = cursor.fetchall()
result

[(3,)]

In [14]:
# /-- 2- check total copies of the book (answer 2)
cursor.execute("""
SELECT * FROM Books
WHERE Title = 'Dracula';
""")

result = cursor.fetchall()
result

[(12, 'Dracula', 'Bram Stoker', 1897, 8232533734),
 (60, 'Dracula', 'Bram Stoker', 1897, 4274716715),
 (73, 'Dracula', 'Bram Stoker', 1897, 8730298424)]

In [15]:
# /-- 3- current total loans of the book  (answer 1)
cursor.execute("""
SELECT COUNT(*) AS total_loans_of_Dracula FROM Loans l
JOIN Books b ON l.BookID = b.BookID
WHERE b.Title = 'Dracula' AND l.ReturnedDate IS NULL;
""")

result = cursor.fetchall()
result

[(1,)]

In [16]:
# /-- 3- current total loans of the book  (answer 2)
cursor.execute("""
SELECT * FROM Loans l
JOIN Books b ON l.BookID = b.BookID
WHERE b.Title = 'Dracula' AND l.ReturnedDate IS NULL;
""")

result = cursor.fetchall()
result

[(1999,
  73,
  59,
  '2020-06-29',
  '2020-07-13',
  None,
  73,
  'Dracula',
  'Bram Stoker',
  1897,
  8730298424)]

In [18]:
# /-- 4- total available books of dracula */ (answer 1)
cursor.execute("""
SELECT COUNT(*) AS avaialble_dracula_books FROM Books
WHERE Title = 'Dracula' AND BookID NOT IN (
SELECT BookID FROM Loans WHERE ReturnedDate IS NULL
);
""")

result = cursor.fetchall()
result

[(2,)]

In [19]:
# /-- 4- total available books of dracula */ (answer 2)
cursor.execute("""
SELECT * FROM Books
WHERE Title = 'Dracula' AND BookID NOT IN (
SELECT BookID FROM Loans WHERE ReturnedDate IS NULL
);
""")

result = cursor.fetchall()
result

[(12, 'Dracula', 'Bram Stoker', 1897, 8232533734),
 (60, 'Dracula', 'Bram Stoker', 1897, 4274716715)]

In [20]:
# /-- 5- Add new books to the library
cursor.execute("""              
INSERT INTO Books (BookID, Title, Author, Published, Barcode) VALUES
(2001, 'Don Quixote', 'Miguel de Cervantes', 1860, 9780141439846),
(2002, 'Alice Adventures in Wonderland', 'Lewis Carroll', 1900, 9780199564095),
(2003, 'Treasure Island', '	Robert Louis Stevenson', 1897, 9780141045227),
(2004, 'Frankenstein', 'Mary Shelley', 1818, 9780486282114),
(2005, 'The Shining', 'Stephen King', 1977, 9780307743657);
""")

result = cursor.fetchall()
result

[]

In [21]:
# /-- 5- Add new books to the library (showing the list with the new added books)
cursor.execute("SELECT * FROM Books")

result = cursor.fetchall()
result

[(1,
  'Walden, and On The Duty Of Civil Disobedience',
  'Henry David Thoreau',
  1849,
  3100471153),
 (2, 'The Scarlet Letter', 'Nathaniel Hawthorne', 1850, 4589408958),
 (3,
  'The Adventures of Sherlock Holmes',
  'Arthur Conan Doyle',
  1892,
  2411676280),
 (4, 'The Adventures of Tom Sawyer', 'Mark Twain', 1876, 7813216705),
 (5, 'David Copperfield', 'Charles Dickens', 1850, 8821265677),
 (6, 'A Modest Proposal', 'Jonathan Swift', 1729, 9675136364),
 (7, 'The Sign of the Four', 'Arthur Conan Doyle', 1890, 9615072124),
 (8,
  'The Importance of Being Earnest: A Trivial Comedy for Serious People',
  'Oscar Wilde',
  1895,
  4733732465),
 (9, "Uncle Tom's Cabin", 'Harriet Beecher Stowe', 1852, 1874764443),
 (10, 'The Count of Monte Cristo', 'Alexandre Dumas', 1884, 1799238621),
 (11, 'The Picture of Dorian Gray', 'Oscar Wilde', 1890, 2855934983),
 (12, 'Dracula', 'Bram Stoker', 1897, 8232533734),
 (13, 'Oliver Twist', 'Charles Dickens', 1839, 3071366111),
 (14,
  'The Awakening, and Selected Short Stories',
  'Kate Chopin',
  1899,
  3103139173),
 (15, 'The Time Machine', 'H. G. Wells', 1895, 9610930110),
 (16, 'Ulysses', 'James Joyce', 1922, 1472300125),
 (17, 'Les Misérables', 'Victor Hugo', 1895, 8252831254),
 (18, 'The Jungle Book', 'Rudyard Kipling', 1894, 3655763446),
 (19, 'Heart of Darkness', 'Joseph Conrad', 1899, 9334362486),
 (20, 'Treasure Island', 'Robert Louis Stevenson', 1883, 8563911061),
 (21, 'The Prince', 'Niccolò Machiavelli', 1532, 2656649474),
 (22, 'Adventures of Huckleberry Finn', 'Mark Twain', 1884, 8537695057),
 (23, 'Great Expectations', 'Charles Dickens', 1861, 5314419343),
 (24, 'Candide', 'Voltaire', 1759, 1026835475),
 (25,
  'The Life and Adventures of Robinson Crusoe',
  'Daniel Defoe',
  1791,
  7614272194),
 (26,
  'The Adventures of Sherlock Holmes',
  'Arthur Conan Doyle',
  1892,
  6117891368),
 (27, 'Wuthering Heights', 'Emily Brontë', 1847, 9622357787),
 (28, 'Heart of Darkness', 'Joseph Conrad', 1899, 2229312049),
 (29, 'A Modest Proposal', 'Jonathan Swift', 1729, 3056621645),
 (30, 'On the origin of species', 'Charles Darwin', 1859, 6010636156),
 (31,
  "Gulliver's Travels into Several Remote Nations of the World",
  'Jonathan Swift',
  1726,
  4649890037),
 (32, 'The Wonderful Wizard of Oz', 'L. Frank Baum', 1900, 9402443064),
 (33, 'Peter Pan', 'J. M. Barrie', 1911, 2793883256),
 (34, 'The Tale of Peter Rabbit', 'Beatrix Potter', 1901, 5748337449),
 (35, 'The Brothers Karamazov', 'Fyodor Dostoyevsky', 1880, 1218723292),
 (36, 'Great Expectations', 'Charles Dickens', 1861, 9050209500),
 (37, "A Doll's House", 'Henrik Ibsen', 1879, 3039350069),
 (38, 'Dubliners', 'James Joyce', 1914, 6886459965),
 (39, 'The Adventures of Tom Sawyer', 'Mark Twain', 1876, 1493041269),
 (40,
  'Three Men in a Boat (To Say Nothing of the Dog)',
  'Jerome K. Jerome',
  1889,
  4746758842),
 (41, 'The Scarlet Letter', 'Nathaniel Hawthorne', 1850, 8329029559),
 (42, 'The Prince', 'Niccolò Machiavelli', 1532, 6151512619),
 (43, 'The Yellow Wallpaper', 'Charlotte Perkins Gilman', 1892, 7476179474),
 (44, 'Pygmalion', 'Bernard Shaw', 1913, 6340638269),
 (45, 'The Secret Garden', 'Frances Hodgson Burnett', 1911, 9948565822),
 (46, 'Sense and Sensibility', 'Jane Austen', 1811, 5677520613),
 (47, 'Anne of Green Gables', 'L. M. Montgomery', 1908, 5419570516),
 (48, 'The Hound of the Baskervilles', 'Arthur Conan Doyle', 1902, 7367316687),
 (49, "Alice's Adventures in Wonderland", 'Lewis Carroll', 1865, 9617441017),
 (50, 'Jane Eyre: An Autobiography', 'Charlotte Brontë', 1847, 3641717422),
 (51, 'Dubliners', 'James Joyce', 1914, 9924891502),
 (52, 'David Copperfield', 'Charles Dickens', 1850, 6705736665),
 (53, "Uncle Tom's Cabin", 'Harriet Beecher Stowe', 1852, 7816127580),
 (54, 'The Yellow Wallpaper', 'Charlotte Perkins Gilman', 1892, 2503974912),
 (55, 'An Occurrence at Owl Creek Bridge', 'Ambrose Bierce', 1890, 6432246701),
 (56, 'The Picture of Dorian Gray', 'Oscar Wilde', 1890, 5057915174),
 (57, 'The Brothers Karamazov', 'Fyodor Dostoyevsky', 1880, 1591595018),
 (58,
  "Grimms' Fairy Tales",
  'Jacob Grimm and Wilhelm Grimm',
  1858,
  9481016995),
 (59, 'The War of the Worlds', 'H. G. Wells', 1898, 7360406327),
 (60, 'Dracula', 'Bram Stoker', 1897, 4274716715),
 (61, 'The Call of the Wild', 'Jack London', 1905, 5092202901),
 (62, 'Oliver Twist', 'Charles Dickens', 1839, 9103557294),
 (63, 'Treasure Island', 'Robert Louis Stevenson', 1883, 9985114885),
 (64, 'A Study in Scarlet', 'Arthur Conan Doyle', 1887, 6146781316),
 (65, 'The Scarlet Letter', 'Nathaniel Hawthorne', 1850, 7064200431),
 (66, 'The Count of Monte Cristo', 'Alexandre Dumas', 1884, 3303490694),
 (67, 'Les Misérables', 'Victor Hugo', 1895, 6502926567),
 (68, 'The Count of Monte Cristo', 'Alexandre Dumas', 1884, 1750433521),
 (69, 'Siddhartha', 'Hermann Hesse', 1922, 4524773001),
 (70,
  'Also sprach Zarathustra',
  'Friedrich Wilhelm Nietzsche',
  1896,
  8233453745),
 (71, 'A Tale of Two Cities', 'Charles Dickens', 1859, 4966189808),
 (72, 'The Yellow Wallpaper', 'Charlotte Perkins Gilman', 1892, 8015869193),
 (73, 'Dracula', 'Bram Stoker', 1897, 8730298424),
 (74,
  'The Strange Case of Dr. Jekyll and Mr. Hyde',
  'Robert Louis Stevenson',
  1886,
  5456105629),
 (75, 'Moby Dick; Or, The Whale', 'Herman Melville', 1851, 3254901352),
 (76, 'Jane Eyre: An Autobiography', 'Charlotte Brontë', 1847, 7490708197),
 (77, 'The Prophet', 'Kahlil Gibran', 1923, 5516789160),
 (78, 'The Prophet', 'Kahlil Gibran', 1923, 9731317241),
 (79, 'A Study in Scarlet', 'Arthur Conan Doyle', 1887, 4735557481),
 (80, 'Jane Eyre: An Autobiography', 'Charlotte Brontë', 1847, 5181168830),
 (81,
  "Grimms' Fairy Tales",
  'Jacob Grimm and Wilhelm Grimm',
  1858,
  2956935227),
 (82, 'Sense and Sensibility', 'Jane Austen', 1811, 3382858636),
 (83, 'Emma', 'Jane Austen', 1815, 3338413705),
 (84,
  'Tractatus Logico-Philosophicus',
  'Ludwig Wittgenstein',
  1921,
  7953286250),
 (85, 'Pygmalion', 'Bernard Shaw', 1913, 3028132298),
 (86, 'Siddhartha', 'Hermann Hesse', 1922, 9816358488),
 (87,
  'Frankenstein; Or, The Modern Prometheus',
  'Mary Wollstonecraft Shelley',
  1818,
  5100740849),
 (88, 'Ulysses', 'James Joyce', 1922, 9050461909),
 (89,
  'Walden, and On The Duty Of Civil Disobedience',
  'Henry David Thoreau',
  1849,
  1250001073),
 (90, 'The Jungle', 'Upton Sinclair', 1906, 9012348841),
 (91,
  'The Importance of Being Earnest: A Trivial Comedy for Serious People',
  'Oscar Wilde',
  1895,
  9067533454),
 (92, "Alice's Adventures in Wonderland", 'Lewis Carroll', 1865, 8015835428),
 (93, 'Great Expectations', 'Charles Dickens', 1861, 4043822646),
 (94,
  'Walden, and On The Duty Of Civil Disobedience',
  'Henry David Thoreau',
  1849,
  8026944492),
 (95,
  'Also sprach Zarathustra',
  'Friedrich Wilhelm Nietzsche',
  1896,
  7133340991),
 (96, 'A Study in Scarlet', 'Arthur Conan Doyle', 1887, 3312061309),
 (97,
  'The Life and Adventures of Robinson Crusoe',
  'Daniel Defoe',
  1791,
  8830076797),
 (98, 'An Occurrence at Owl Creek Bridge', 'Ambrose Bierce', 1890, 6854696214),
 (99, 'Little Women', 'Louisa May Alcott', 1869, 3945560004),
 (100, 'The Jungle Book', 'Rudyard Kipling', 1894, 9443427576),
 (101, 'Anna Karenina', 'graf Leo Tolstoy', 1878, 8754465846),
 (102, 'Hard Times', 'Charles Dickens', 1854, 6674338548),
 (103, 'Moby Dick; Or, The Whale', 'Herman Melville', 1851, 6616753388),
 (104, 'On the origin of species', 'Charles Darwin', 1859, 9362177222),
 (105, 'The Turn of the Screw', 'Henry James', 1898, 6435968624),
 (106, 'Wuthering Heights', 'Emily Brontë', 1847, 4592191348),
 (107, 'Little Women', 'Louisa May Alcott', 1869, 1965826731),
 (108, "Pascal's Pensées", 'Blaise Pascal', 1670, 5350687892),
 (109, 'Emma', 'Jane Austen', 1815, 6733484219),
 (110,
  'The Strange Case of Dr. Jekyll and Mr. Hyde',
  'Robert Louis Stevenson',
  1886,
  6219262708),
 (111,
  'The Decameron of Giovanni Boccaccio',
  'Giovanni Boccaccio',
  1375,
  2485650954),
 (112, 'The War of the Worlds', 'H. G. Wells', 1898, 7919408621),
 (113, 'On the origin of species', 'Charles Darwin', 1859, 3102441408),
 (114, 'The Wonderful Wizard of Oz', 'L. Frank Baum', 1900, 9562452329),
 (115, 'Hard Times', 'Charles Dickens', 1854, 3242500932),
 (116, 'The Brothers Karamazov', 'Fyodor Dostoyevsky', 1880, 3310765031),
 (117, 'The Time Machine', 'H. G. Wells', 1895, 7267049081),
 (118, 'Adventures of Huckleberry Finn', 'Mark Twain', 1884, 5259319712),
 (119, 'The Tale of Peter Rabbit', 'Beatrix Potter', 1901, 2755886014),
 (120, 'Dubliners', 'James Joyce', 1914, 3639380140),
 (121, 'The Mysterious Affair at Styles', 'Agatha Christie', 1920, 9303804404),
 (122, 'Metamorphosis', 'Franz Kafka', 1915, 7205341627),
 (123, 'The Mysterious Affair at Styles', 'Agatha Christie', 1920, 7280027397),
 (124,
  'The Adventures of Sherlock Holmes',
  'Arthur Conan Doyle',
  1892,
  7776442868),
 (125, 'Candide', 'Voltaire', 1759, 6478624379),
 (126,
  'The Awakening, and Selected Short Stories',
  'Kate Chopin',
  1899,
  9895378062),
 (127, 'David Copperfield', 'Charles Dickens', 1850, 8525488511),
 (128, 'The Picture of Dorian Gray', 'Oscar Wilde', 1890, 3664785630),
 (129,
  'Also sprach Zarathustra',
  'Friedrich Wilhelm Nietzsche',
  1896,
  8880867275),
 (130, 'Peter Pan', 'J. M. Barrie', 1911, 5135424406),
 (131, 'War and Peace', 'graf Leo Tolstoy', 1869, 9585335549),
 (132, 'War and Peace', 'graf Leo Tolstoy', 1869, 5605187849),
 (133, 'Treasure Island', 'Robert Louis Stevenson', 1883, 2952281573),
 (134, 'The Sign of the Four', 'Arthur Conan Doyle', 1890, 9535295098),
 (135, 'A Tale of Two Cities', 'Charles Dickens', 1859, 8996747227),
 (136, 'The Wonderful Wizard of Oz', 'L. Frank Baum', 1900, 1471501105),
 (137, "Alice's Adventures in Wonderland", 'Lewis Carroll', 1865, 3946912387),
 (138, 'The Sign of the Four', 'Arthur Conan Doyle', 1890, 6652171593),
 (139, 'Peter Pan', 'J. M. Barrie', 1911, 2588073202),
 (140,
  "Gulliver's Travels into Several Remote Nations of the World",
  'Jonathan Swift',
  1726,
  8923446356),
 (141,
  'Three Men in a Boat (To Say Nothing of the Dog)',
  'Jerome K. Jerome',
  1889,
  6572731534),
 (142,
  'The Decameron of Giovanni Boccaccio',
  'Giovanni Boccaccio',
  1375,
  3609260747),
 (143,
  "Gulliver's Travels into Several Remote Nations of the World",
  'Jonathan Swift',
  1726,
  5394770992),
 (144, 'Pride and Prejudice', 'Jane Austen', 1813, 9131059093),
 (145, 'Oliver Twist', 'Charles Dickens', 1839, 6444030057),
 (146, 'Metamorphosis', 'Franz Kafka', 1915, 6978078350),
 (147, 'The Adventures of Tom Sawyer', 'Mark Twain', 1876, 4750599556),
 (148, 'War and Peace', 'graf Leo Tolstoy', 1869, 9348938616),
 (149,
  'The Importance of Being Earnest: A Trivial Comedy for Serious People',
  'Oscar Wilde',
  1895,
  2054382275),
 (150, 'The Secret Garden', 'Frances Hodgson Burnett', 1911, 2438574546),
 (151, 'Second Treatise of Government', 'John Locke', 1689, 6979338785),
 (152, 'Anne of Green Gables', 'L. M. Montgomery', 1908, 4550745199),
 (153,
  'Frankenstein; Or, The Modern Prometheus',
  'Mary Wollstonecraft Shelley',
  1818,
  8839302214),
 (154,
  'An Occurrence at Owl Creek Bridge',
  'Ambrose Bierce',
  1890,
  8301235528),
 (155, 'The Prophet', 'Kahlil Gibran', 1923, 9013040583),
 (156,
  'The Life and Adventures of Robinson Crusoe',
  'Daniel Defoe',
  1791,
  3650881744),
 (157, 'Les Misérables', 'Victor Hugo', 1895, 9108696047),
 (158, 'Moby Dick; Or, The Whale', 'Herman Melville', 1851, 8158837759),
 (159,
  'Three Men in a Boat (To Say Nothing of the Dog)',
  'Jerome K. Jerome',
  1889,
  3293874630),
 (160, 'The War of the Worlds', 'H. G. Wells', 1898, 4474735051),
 (161, 'The Prince', 'Niccolò Machiavelli', 1532, 9323491902),
 (162, 'Pride and Prejudice', 'Jane Austen', 1813, 8156410777),
 (163, 'The Mysterious Affair at Styles', 'Agatha Christie', 1920, 3833130645),
 (164,
  'The Hound of the Baskervilles',
  'Arthur Conan Doyle',
  1902,
  7500891493),
 (165, 'The Turn of the Screw', 'Henry James', 1898, 2119519594),
 (166,
  'The Strange Case of Dr. Jekyll and Mr. Hyde',
  'Robert Louis Stevenson',
  1886,
  1388191607),
 (167, 'Anne of Green Gables', 'L. M. Montgomery', 1908, 6951820908),
 (168, "Pascal's Pensées", 'Blaise Pascal', 1670, 1688834109),
 (169, 'Second Treatise of Government', 'John Locke', 1689, 5647388501),
 (170, 'A Tale of Two Cities', 'Charles Dickens', 1859, 1396589796),
 (171, 'The Call of the Wild', 'Jack London', 1905, 7523202583),
 (172, "Uncle Tom's Cabin", 'Harriet Beecher Stowe', 1852, 1944291114),
 (173, 'Wuthering Heights', 'Emily Brontë', 1847, 2847748801),
 (174, 'A Modest Proposal', 'Jonathan Swift', 1729, 7708090276),
 (175, 'The Time Machine', 'H. G. Wells', 1895, 1291355714),
 (176, 'The Jungle', 'Upton Sinclair', 1906, 2932680848),
 (177, 'The Call of the Wild', 'Jack London', 1905, 3119888447),
 (178, 'The Secret Garden', 'Frances Hodgson Burnett', 1911, 8157982611),
 (179, 'Anna Karenina', 'graf Leo Tolstoy', 1878, 3570685469),
 (180,
  'Frankenstein; Or, The Modern Prometheus',
  'Mary Wollstonecraft Shelley',
  1818,
  5880488254),
 (181, 'Sense and Sensibility', 'Jane Austen', 1811, 7712942206),
 (182,
  "Grimms' Fairy Tales",
  'Jacob Grimm and Wilhelm Grimm',
  1858,
  7433732302),
 (183, 'Little Women', 'Louisa May Alcott', 1869, 3806008380),
 (184, 'Ulysses', 'James Joyce', 1922, 7973290433),
 (185, 'Don Quixote', 'Miguel de Cervantes Saavedra', 1605, 3037774000),
 (186, 'Pride and Prejudice', 'Jane Austen', 1813, 9229256777),
 (187, 'Don Quixote', 'Miguel de Cervantes Saavedra', 1605, 3750235511),
 (188,
  'Tractatus Logico-Philosophicus',
  'Ludwig Wittgenstein',
  1921,
  3733674722),
 (189, 'The Jungle Book', 'Rudyard Kipling', 1894, 2183505735),
 (190, 'Adventures of Huckleberry Finn', 'Mark Twain', 1884, 3766010638),
 (191, 'Emma', 'Jane Austen', 1815, 5913123586),
 (192, 'The Turn of the Screw', 'Henry James', 1898, 9586004168),
 (193, 'Candide', 'Voltaire', 1759, 9718482110),
 (194, 'The Tale of Peter Rabbit', 'Beatrix Potter', 1901, 5705857485),
 (195, 'Metamorphosis', 'Franz Kafka', 1915, 8949930384),
 (196,
  'The Awakening, and Selected Short Stories',
  'Kate Chopin',
  1899,
  5859811018),
 (197, 'Hard Times', 'Charles Dickens', 1854, 6616502217),
 (198, "A Doll's House", 'Henrik Ibsen', 1879, 6227932647),
 (199, 'Anna Karenina', 'graf Leo Tolstoy', 1878, 6318181860),
 (200, "A Doll's House", 'Henrik Ibsen', 1879, 2719805876),
 (2001, 'Don Quixote', 'Miguel de Cervantes', 1860, 9780141439846),
 (2002,
  'Alice Adventures in Wonderland',
  'Lewis Carroll',
  1900,
  9780199564095),
 (2003, 'Treasure Island', '\tRobert Louis Stevenson', 1897, 9780141045227),
 (2004, 'Frankenstein', 'Mary Shelley', 1818, 9780486282114),
 (2005, 'The Shining', 'Stephen King', 1977, 9780307743657)]

In [22]:
#/ - 6- Check out Books: books(4043822646, 2855934983) whose patron_email(jvaan@wisdompets.com), loandate=2020-08-25, duedate=2020-09-08, loanid=by_your_choice*/

cursor.execute("""
SELECT BookID, PatronID, '2020-08-25', '2020-09-08' FROM Books, Patrons
WHERE Email = 'jvaan@wisdompets.com' AND Barcode IN (4043822646, 2855934983);
""")

result = cursor.fetchall()
result

[(93, 50, '2020-08-25', '2020-09-08'), (11, 50, '2020-08-25', '2020-09-08')]

In [23]:
#/ -- 7- Check books for Due back
cursor.execute("""
SELECT l.LoanID, b.Title, p.FirstName, p.LastName, p.Email, l.LoanDate, l.DueDate FROM Loans l
JOIN Books b ON l.BookID = b.BookID
JOIN Patrons p ON l.PatronID = p.PatronID
WHERE l.ReturnedDate IS NULL;
""")

result = cursor.fetchall()
result

[(1800,
  'Three Men in a Boat (To Say Nothing of the Dog)',
  'Clem',
  'Durdy',
  'cdurdy2p@hplussport.com',
  '2020-02-08',
  '2020-02-22'),
 (1864,
  'Jane Eyre: An Autobiography',
  'Maggi',
  'Domney',
  'mdomney0@wisdompets.com',
  '2020-03-24',
  '2020-04-07'),
 (1911,
  'Jane Eyre: An Autobiography',
  'Christyna',
  'McGilroy',
  'cmcgilroy11@landonhotel.com',
  '2020-04-24',
  '2020-05-08'),
 (1948,
  'Sense and Sensibility',
  'Arlen',
  "O'Fihillie",
  'aofihillie1f@wisdompets.com',
  '2020-05-17',
  '2020-05-31'),
 (1983,
  'David Copperfield',
  'Gus',
  'Holyland',
  'gholyland2f@red30design.com',
  '2020-06-17',
  '2020-07-01'),
 (1984,
  'An Occurrence at Owl Creek Bridge',
  'Viola',
  'McLarnon',
  'vmclarnon24@orangevalleycaa.org',
  '2020-06-18',
  '2020-07-02'),
 (1985,
  "Grimms' Fairy Tales",
  'Robbert',
  'Walkowski',
  'rwalkowski1i@kinetecoinc.com',
  '2020-06-18',
  '2020-07-02'),
 (1986,
  'Walden, and On The Duty Of Civil Disobedience',
  'Chance',
  'Todeo',
  'ctodeoe@wisdompets.com',
  '2020-06-18',
  '2020-07-02'),
 (1987,
  'Also sprach Zarathustra',
  'Blythe',
  'Leggan',
  'bleggan2r@rouxacademy.org',
  '2020-06-21',
  '2020-07-05'),
 (1988,
  'The Tale of Peter Rabbit',
  'Culley',
  'Cawood',
  'ccawoodr@samoca.org',
  '2020-06-21',
  '2020-07-05'),
 (1989,
  'A Study in Scarlet',
  'Don',
  'Weingarten',
  'dweingarten@kinetecoinc.com',
  '2020-06-22',
  '2020-07-06'),
 (1990,
  'The Life and Adventures of Robinson Crusoe',
  'Clementia',
  'Furminger',
  'cfurminger1b@kinetecoinc.com',
  '2020-06-24',
  '2020-07-08'),
 (1991,
  'The Turn of the Screw',
  'Hayyim',
  'Rossander',
  'hrossander1s@wisdompets.com',
  '2020-06-25',
  '2020-07-09'),
 (1992,
  'Sense and Sensibility',
  'Cornelia',
  'Koppe',
  'ckoppe1m@landonhotel.com',
  '2020-06-25',
  '2020-07-09'),
 (1993,
  'The Brothers Karamazov',
  'Ab',
  'Jurn',
  'ajurn2g@samoca.org',
  '2020-06-27',
  '2020-07-11'),
 (1994,
  'Peter Pan',
  'Yves',
  "Dell'Abbate",
  'ydellabbateq@rouxacademy.org',
  '2020-06-28',
  '2020-07-12'),
 (1995,
  "Pascal's Pensées",
  'Ive',
  'Iles',
  'iiles1h@samoca.org',
  '2020-06-28',
  '2020-07-12'),
 (1996,
  'The Count of Monte Cristo',
  'Kala',
  'Simonian',
  'ksimonian2q@landonhotel.com',
  '2020-06-29',
  '2020-07-13'),
 (1997,
  'The Prophet',
  'Lydie',
  'Awmack',
  'lawmack1a@samoca.org',
  '2020-06-29',
  '2020-07-13'),
 (1998,
  'Second Treatise of Government',
  'Anthe',
  'Dinjes',
  'adinjesh@samoca.org',
  '2020-06-29',
  '2020-07-13'),
 (1999,
  'Dracula',
  'Cornelia',
  'Koppe',
  'ckoppe1m@landonhotel.com',
  '2020-06-29',
  '2020-07-13'),
 (2000,
  'The Importance of Being Earnest: A Trivial Comedy for Serious People',
  'Carilyn',
  'Calver',
  'ccalver8@samoca.org',
  '2020-06-30',
  '2020-07-14')]

In [24]:
#/ -- 8- generate a report of books due back on July 13, 2020 */

cursor.execute("""
SELECT l.LoanID, b.Title, b.BookID, l.LoanDate, l.DueDate FROM Loans l
JOIN Books b ON l.BookID = b.BookID
JOIN Patrons p ON l.PatronID = p.PatronID
WHERE l.DueDate = '2020-07-13' 
AND l.ReturnedDate IS NULL;
""")

result = cursor.fetchall()
result

[(1996, 'The Count of Monte Cristo', 10, '2020-06-29', '2020-07-13'),
 (1997, 'The Prophet', 155, '2020-06-29', '2020-07-13'),
 (1998, 'Second Treatise of Government', 169, '2020-06-29', '2020-07-13'),
 (1999, 'Dracula', 73, '2020-06-29', '2020-07-13')]

In [25]:
#/ 9-generate a report of books due back on July 13, 2020 with patron contact information 

cursor.execute("""
SELECT l.LoanID, b.Title, b.BookID, p.FirstName, p.LastName, p.Email, l.LoanDate, l.DueDate FROM Loans l
JOIN Books b ON l.BookID = b.BookID
JOIN Patrons p ON l.PatronID = p.PatronID
WHERE l.DueDate = '2020-07-13' AND l.ReturnedDate IS NULL;
""")

result = cursor.fetchall()
result

[(1996,
  'The Count of Monte Cristo',
  10,
  'Kala',
  'Simonian',
  'ksimonian2q@landonhotel.com',
  '2020-06-29',
  '2020-07-13'),
 (1997,
  'The Prophet',
  155,
  'Lydie',
  'Awmack',
  'lawmack1a@samoca.org',
  '2020-06-29',
  '2020-07-13'),
 (1998,
  'Second Treatise of Government',
  169,
  'Anthe',
  'Dinjes',
  'adinjesh@samoca.org',
  '2020-06-29',
  '2020-07-13'),
 (1999,
  'Dracula',
  73,
  'Cornelia',
  'Koppe',
  'ckoppe1m@landonhotel.com',
  '2020-06-29',
  '2020-07-13')]

In [27]:
#/ -- 10- Return books to the library (which have barcode=6435968624) and return this book at this date(2020-07-05) code1

cursor.execute("""
UPDATE Loans 
SET ReturnedDate = '2020-07-05'
WHERE BookID = (SELECT BookID FROM Books WHERE Barcode = 6435968624)
AND ReturnedDate IS NULL;
""")

result = cursor.fetchall()
result

[]

In [28]:
#/ -- 10- Return books to the library (which have barcode=6435968624) and return this book at this date(2020-07-05) code2
cursor.execute("""
SELECT * FROM Loans 
WHERE BookID = (SELECT BookID FROM Books WHERE Barcode = 6435968624);
""")

result = cursor.fetchall()
result

[(133, 105, 67, '2016-09-07', '2016-09-21', '2016-09-21'),
 (152, 105, 48, '2016-09-22', '2016-10-06', '2016-10-06'),
 (462, 105, 64, '2017-04-22', '2017-05-06', '2017-05-06'),
 (567, 105, 5, '2017-07-15', '2017-07-29', '2017-07-29'),
 (728, 105, 77, '2017-12-04', '2017-12-18', '2017-12-18'),
 (978, 105, 93, '2018-06-20', '2018-07-04', '2018-07-04'),
 (1125, 105, 17, '2018-09-29', '2018-10-13', '2018-10-13'),
 (1515, 105, 80, '2019-07-17', '2019-07-31', '2019-07-31'),
 (1552, 105, 72, '2019-08-11', '2019-08-25', '2019-08-25'),
 (1712, 105, 75, '2019-12-06', '2019-12-20', '2019-12-20'),
 (1951, 105, 52, '2020-05-20', '2020-06-03', '2020-06-03'),
 (1991, 105, 65, '2020-06-25', '2020-07-09', '2020-07-05')]

In [29]:
#/-- 11- Encourage Patrons to check out books 
#/-- a code to check patrons that didn't check out any books for the last 3 months 
cursor.execute("""
SELECT FirstName, LastName, Email FROM Patrons
WHERE PatronID NOT IN (
SELECT DISTINCT PatronID FROM Loans
WHERE LoanDate >= DATE_SUB(CURDATE(), INTERVAL 3 MONTH)
);
""")

result = cursor.fetchall()
result

[('Maggi', 'Domney', 'mdomney0@wisdompets.com'),
 ('Javier', 'Dawks', 'jdawks1@red30design.com'),
 ('Aleen', 'Fasey', 'afasey2@kinetecoinc.com'),
 ('Taylor', 'Jenkins', 'tjenkins@rouxacademy.org'),
 ('Imogen', 'Kabsch', 'ikabsch@landonhotel.com'),
 ('Don', 'Weingarten', 'dweingarten@kinetecoinc.com'),
 ('Cammi', 'Kynett', 'ckynett6@orangevalleycaa.org'),
 ('Steffie', 'Kleis', 'skleis7@wisdompets.com'),
 ('Carilyn', 'Calver', 'ccalver8@samoca.org'),
 ('Barbara-anne', 'Sweet', 'bsweet9@samoca.org'),
 ('Faina', 'Nelles', 'fnellesa@red30design.com'),
 ('Orton', 'Stavers', 'ostaversb@orangevalleycaa.org'),
 ('Jobina', 'McKern', 'jmckernc@rouxacademy.org'),
 ('Paco', 'Yarranton', 'pyarrantond@rouxacademy.org'),
 ('Chance', 'Todeo', 'ctodeoe@wisdompets.com'),
 ('Carla', 'Swinfen', 'cswinfenf@kinetecoinc.com'),
 ('Lani', 'Over', 'loverg@wisdompets.com'),
 ('Anthe', 'Dinjes', 'adinjesh@samoca.org'),
 ('Amby', 'Harber', 'aharberi@hplussport.com'),
 ('Jacinta', 'Vallis', 'jvallisj@kinetecoinc.com'),
 ('Henri', 'Pughe', 'hpughek@orangevalleycaa.org'),
 ('Cassandre', 'Wragg', 'cwraggl@landonhotel.com'),
 ('Amory', 'Bunyard', 'abunyardm@samoca.org'),
 ('Carny', 'Scamp', 'cscampn@wisdompets.com'),
 ('Paulie', 'Kinvig', 'pkinvigo@hplussport.com'),
 ('Taylor', 'Jenkins', 'tjenkins@redt30design.com'),
 ('Yves', "Dell'Abbate", 'ydellabbateq@rouxacademy.org'),
 ('Culley', 'Cawood', 'ccawoodr@samoca.org'),
 ('Herby', 'Aspinal', 'haspinals@red30design.com'),
 ('Emlyn', 'Attwool', 'eattwoolt@hplussport.com'),
 ('Osgood', 'Saunter', 'osaunteru@red30design.com'),
 ('Demetri', 'Iacobacci', 'diacobacciv@landonhotel.com'),
 ('Eloisa', 'Forster', 'eforsterw@wisdompets.com'),
 ('Carlin', 'Casterou', 'ccasteroux@landonhotel.com'),
 ('Luciano', 'Winton', 'lwintony@hplussport.com'),
 ('Allyson', 'Jira', 'ajiraz@wisdompets.com'),
 ('Jillane', 'Livingstone', 'jlivingstone10@wisdompets.com'),
 ('Christyna', 'McGilroy', 'cmcgilroy11@landonhotel.com'),
 ('Oralla', 'Dayer', 'odayer12@samoca.org'),
 ('Angelique', 'Farnham', 'afarnham13@wisdompets.com'),
 ('Lowrance', 'Gratton', 'lgratton14@hplussport.com'),
 ('Cleo', 'Goldwater', 'cgoldwater15@landonhotel.com'),
 ('Menard', 'Pitone', 'mpitone16@red30design.com'),
 ('Davy', 'Neely', 'dneely17@hplussport.com'),
 ('Zechariah', 'Deniske', 'zdeniske18@kinetecoinc.com'),
 ('Serge', 'Pethrick', 'spethrick19@rouxacademy.org'),
 ('Lydie', 'Awmack', 'lawmack1a@samoca.org'),
 ('Clementia', 'Furminger', 'cfurminger1b@kinetecoinc.com'),
 ('Cathryn', 'Beau', 'cbeau1c@wisdompets.com'),
 ('Jack', 'Vaan', 'jvaan@wisdompets.com'),
 ('Romeo', 'Annett', 'rannett1e@samoca.org'),
 ('Arlen', "O'Fihillie", 'aofihillie1f@wisdompets.com'),
 ('Perceval', 'Redpath', 'predpath1g@rouxacademy.org'),
 ('Ive', 'Iles', 'iiles1h@samoca.org'),
 ('Robbert', 'Walkowski', 'rwalkowski1i@kinetecoinc.com'),
 ('Hagen', 'Itzhayek', 'hitzhayek1j@landonhotel.com'),
 ('Kahaleel', 'Keaton', 'kkeaton1k@kinetecoinc.com'),
 ('Purcell', 'Llop', 'pllop1l@hplussport.com'),
 ('Cornelia', 'Koppe', 'ckoppe1m@landonhotel.com'),
 ('Olympia', 'Sansun', 'osansun1n@wisdompets.com'),
 ('Rubia', 'Fitzsymon', 'rfitzsymon1o@red30design.com'),
 ('Tybie', 'Balme', 'tbalme1p@orangevalleycaa.org'),
 ('Forest', 'Dubock', 'fdubock1q@red30design.com'),
 ('Norby', 'Sleight', 'nsleight1r@kinetecoinc.com'),
 ('Hayyim', 'Rossander', 'hrossander1s@wisdompets.com'),
 ('Gilbert', 'Dupoy', 'gdupoy1t@rouxacademy.org'),
 ('Whitney', 'Lamberts', 'wlamberts1u@red30design.com'),
 ('Anastasie', 'Ferguson', 'aferguson1v@landonhotel.com'),
 ('Alaster', 'Ruggles', 'aruggles1w@red30design.com'),
 ('Loretta', 'Hundey', 'lhundey1x@kinetecoinc.com'),
 ('Winnah', "D'Elia", 'wdelia1y@red30design.com'),
 ('Trip', 'Pond', 'tpond1z@wisdompets.com'),
 ('Merle', 'Sukbhans', 'msukbhans20@orangevalleycaa.org'),
 ('Giraldo', 'Algar', 'galgar21@kinetecoinc.com'),
 ('Bevvy', 'Harrowsmith', 'bharrowsmith22@red30design.com'),
 ('Dyanna', 'Fulger', 'dfulger23@red30design.com'),
 ('Viola', 'McLarnon', 'vmclarnon24@orangevalleycaa.org'),
 ('Dorella', 'Linbohm', 'dlinbohm25@rouxacademy.org'),
 ('Winslow', 'Klass', 'wklass26@kinetecoinc.com'),
 ('Francisca', 'Cranmor', 'fcranmor27@wisdompets.com'),
 ('Gustave', 'Alphonso', 'galphonso28@wisdompets.com'),
 ('Jacquette', 'Spillard', 'jspillard29@red30design.com'),
 ('Caril', 'Matejic', 'cmatejic2a@orangevalleycaa.org'),
 ('Sianna', 'Drewell', 'sdrewell2b@kinetecoinc.com'),
 ('Sonnie', 'MatticcI', 'smatticci2c@rouxacademy.org'),
 ('Brandais', 'Jeannaud', 'bjeannaud2d@hplussport.com'),
 ('Junie', 'MacRury', 'jmacrury2e@wisdompets.com'),
 ('Gus', 'Holyland', 'gholyland2f@red30design.com'),
 ('Ab', 'Jurn', 'ajurn2g@samoca.org'),
 ('Elmo', 'Ockland', 'eockland2h@landonhotel.com'),
 ('Iver', 'Palke', 'ipalke2i@rouxacademy.org'),
 ('Asher', 'Tapley', 'atapley2j@kinetecoinc.com'),
 ('Joel', 'Baignard', 'jbaignard2k@orangevalleycaa.org'),
 ('Curr', 'Fittall', 'cfittall2l@orangevalleycaa.org'),
 ('Lelah', 'Seathwright', 'lseathwright2m@samoca.org'),
 ('Melantha', 'Scowcroft', 'mscowcroft2n@kinetecoinc.com'),
 ('Herb', 'McParland', 'hmcparland2o@rouxacademy.org'),
 ('Clem', 'Durdy', 'cdurdy2p@hplussport.com'),
 ('Kala', 'Simonian', 'ksimonian2q@landonhotel.com'),
 ('Blythe', 'Leggan', 'bleggan2r@rouxacademy.org')]

In [30]:
#/-- 11- Encourage Patrons to check out books 
#/-- code to check the 10 books with the most numbers of loans that can be reccommended to the patrons
cursor.execute("""
SELECT b.Title, MIN(b.Author) AS Author, COUNT(l.BookID) AS loans_count FROM Loans l
JOIN Books b ON l.BookID = b.BookID
GROUP BY b.Title
ORDER BY loans_count DESC
LIMIT 10;
""")

result = cursor.fetchall()
result

[('Frankenstein; Or, The Modern Prometheus',
  'Mary Wollstonecraft Shelley',
  53),
 ('The Awakening, and Selected Short Stories', 'Kate Chopin', 43),
 ('The War of the Worlds', 'H. G. Wells', 43),
 ('The Scarlet Letter', 'Nathaniel Hawthorne', 42),
 ('The Picture of Dorian Gray', 'Oscar Wilde', 39),
 ("Alice's Adventures in Wonderland", 'Lewis Carroll', 38),
 ('A Tale of Two Cities', 'Charles Dickens', 37),
 ('The Turn of the Screw', 'Henry James', 37),
 ('Jane Eyre: An Autobiography', 'Charlotte Brontë', 37),
 ('The Mysterious Affair at Styles', 'Agatha Christie', 36)]

In [31]:
#/---- 12- generate a report of showing 10 patrons who have checked out the fewest books.                          */

cursor.execute("""
SELECT p.PatronID, p.FirstName, p.LastName, p.Email, COUNT(l.LoanID) AS total_checkouts_by_patrons FROM Patrons p
LEFT JOIN Loans l ON p.PatronID = l.PatronID
GROUP BY p.PatronID, p.FirstName, p.LastName, p.Email
ORDER BY total_checkouts_by_patrons ASC
LIMIT 10;
""")

result = cursor.fetchall()
result

[(83, 'Caril', 'Matejic', 'cmatejic2a@orangevalleycaa.org', 9),
 (69, 'Alaster', 'Ruggles', 'aruggles1w@red30design.com', 9),
 (73, 'Merle', 'Sukbhans', 'msukbhans20@orangevalleycaa.org', 11),
 (64, 'Norby', 'Sleight', 'nsleight1r@kinetecoinc.com', 12),
 (94, 'Curr', 'Fittall', 'cfittall2l@orangevalleycaa.org', 12),
 (50, 'Jack', 'Vaan', 'jvaan@wisdompets.com', 13),
 (12, 'Orton', 'Stavers', 'ostaversb@orangevalleycaa.org', 14),
 (16, 'Carla', 'Swinfen', 'cswinfenf@kinetecoinc.com', 14),
 (7, 'Cammi', 'Kynett', 'ckynett6@orangevalleycaa.org', 14),
 (3, 'Aleen', 'Fasey', 'afasey2@kinetecoinc.com', 14)]

In [32]:
#/ 13- Find books to feature for an event  create a list of books from 1890s that are currently available

cursor.execute("""
SELECT BookID, Title, Author, Published, Barcode FROM Books
WHERE Published BETWEEN 1890 AND 1899 AND BookID NOT IN (
SELECT BookID FROM Loans WHERE ReturnedDate IS NULL
);
""")

result = cursor.fetchall()
result

[(3,
  'The Adventures of Sherlock Holmes',
  'Arthur Conan Doyle',
  1892,
  2411676280),
 (7, 'The Sign of the Four', 'Arthur Conan Doyle', 1890, 9615072124),
 (8,
  'The Importance of Being Earnest: A Trivial Comedy for Serious People',
  'Oscar Wilde',
  1895,
  4733732465),
 (11, 'The Picture of Dorian Gray', 'Oscar Wilde', 1890, 2855934983),
 (12, 'Dracula', 'Bram Stoker', 1897, 8232533734),
 (14,
  'The Awakening, and Selected Short Stories',
  'Kate Chopin',
  1899,
  3103139173),
 (15, 'The Time Machine', 'H. G. Wells', 1895, 9610930110),
 (17, 'Les Misérables', 'Victor Hugo', 1895, 8252831254),
 (18, 'The Jungle Book', 'Rudyard Kipling', 1894, 3655763446),
 (19, 'Heart of Darkness', 'Joseph Conrad', 1899, 9334362486),
 (26,
  'The Adventures of Sherlock Holmes',
  'Arthur Conan Doyle',
  1892,
  6117891368),
 (28, 'Heart of Darkness', 'Joseph Conrad', 1899, 2229312049),
 (43, 'The Yellow Wallpaper', 'Charlotte Perkins Gilman', 1892, 7476179474),
 (54, 'The Yellow Wallpaper', 'Charlotte Perkins Gilman', 1892, 2503974912),
 (55, 'An Occurrence at Owl Creek Bridge', 'Ambrose Bierce', 1890, 6432246701),
 (56, 'The Picture of Dorian Gray', 'Oscar Wilde', 1890, 5057915174),
 (59, 'The War of the Worlds', 'H. G. Wells', 1898, 7360406327),
 (60, 'Dracula', 'Bram Stoker', 1897, 4274716715),
 (67, 'Les Misérables', 'Victor Hugo', 1895, 6502926567),
 (70,
  'Also sprach Zarathustra',
  'Friedrich Wilhelm Nietzsche',
  1896,
  8233453745),
 (72, 'The Yellow Wallpaper', 'Charlotte Perkins Gilman', 1892, 8015869193),
 (98, 'An Occurrence at Owl Creek Bridge', 'Ambrose Bierce', 1890, 6854696214),
 (100, 'The Jungle Book', 'Rudyard Kipling', 1894, 9443427576),
 (105, 'The Turn of the Screw', 'Henry James', 1898, 6435968624),
 (112, 'The War of the Worlds', 'H. G. Wells', 1898, 7919408621),
 (117, 'The Time Machine', 'H. G. Wells', 1895, 7267049081),
 (124,
  'The Adventures of Sherlock Holmes',
  'Arthur Conan Doyle',
  1892,
  7776442868),
 (126,
  'The Awakening, and Selected Short Stories',
  'Kate Chopin',
  1899,
  9895378062),
 (128, 'The Picture of Dorian Gray', 'Oscar Wilde', 1890, 3664785630),
 (129,
  'Also sprach Zarathustra',
  'Friedrich Wilhelm Nietzsche',
  1896,
  8880867275),
 (134, 'The Sign of the Four', 'Arthur Conan Doyle', 1890, 9535295098),
 (138, 'The Sign of the Four', 'Arthur Conan Doyle', 1890, 6652171593),
 (149,
  'The Importance of Being Earnest: A Trivial Comedy for Serious People',
  'Oscar Wilde',
  1895,
  2054382275),
 (157, 'Les Misérables', 'Victor Hugo', 1895, 9108696047),
 (160, 'The War of the Worlds', 'H. G. Wells', 1898, 4474735051),
 (165, 'The Turn of the Screw', 'Henry James', 1898, 2119519594),
 (175, 'The Time Machine', 'H. G. Wells', 1895, 1291355714),
 (189, 'The Jungle Book', 'Rudyard Kipling', 1894, 2183505735),
 (192, 'The Turn of the Screw', 'Henry James', 1898, 9586004168),
 (196,
  'The Awakening, and Selected Short Stories',
  'Kate Chopin',
  1899,
  5859811018),
 (2003, 'Treasure Island', '\tRobert Louis Stevenson', 1897, 9780141045227)]

In [33]:
#/ 14- create a report to show how many books were published each year.
cursor.execute("""
SELECT Published, COUNT(BookID) as total_books_published FROM Books 
GROUP BY Published
ORDER BY Published ASC;
""")

result = cursor.fetchall()
result

[(1375, 2),
 (1532, 3),
 (1605, 2),
 (1670, 2),
 (1689, 2),
 (1726, 3),
 (1729, 3),
 (1759, 3),
 (1791, 3),
 (1811, 3),
 (1813, 3),
 (1815, 3),
 (1818, 4),
 (1839, 3),
 (1847, 6),
 (1849, 3),
 (1850, 6),
 (1851, 3),
 (1852, 3),
 (1854, 3),
 (1858, 3),
 (1859, 6),
 (1860, 1),
 (1861, 3),
 (1865, 3),
 (1869, 6),
 (1876, 3),
 (1878, 3),
 (1879, 3),
 (1880, 3),
 (1883, 3),
 (1884, 6),
 (1886, 3),
 (1887, 3),
 (1889, 3),
 (1890, 9),
 (1892, 6),
 (1894, 3),
 (1895, 9),
 (1896, 3),
 (1897, 4),
 (1898, 6),
 (1899, 5),
 (1900, 4),
 (1901, 3),
 (1902, 2),
 (1905, 3),
 (1906, 2),
 (1908, 3),
 (1911, 6),
 (1913, 2),
 (1914, 3),
 (1915, 3),
 (1920, 3),
 (1921, 2),
 (1922, 5),
 (1923, 3),
 (1977, 1)]

In [34]:
#- 15- create a report to show 5 most popular Books to check out
cursor.execute("""
SELECT b.BookID, b.Title, b.Author, COUNT(l.LoanID) AS loans_count FROM Books b
JOIN Loans l ON b.BookID = l.BookID
GROUP BY b.BookID, b.Title, b.Author
ORDER BY loans_count DESC
LIMIT 5;
""")

result = cursor.fetchall()
result

[(112, 'The War of the Worlds', 'H. G. Wells', 20),
 (153,
  'Frankenstein; Or, The Modern Prometheus',
  'Mary Wollstonecraft Shelley',
  20),
 (41, 'The Scarlet Letter', 'Nathaniel Hawthorne', 18),
 (180,
  'Frankenstein; Or, The Modern Prometheus',
  'Mary Wollstonecraft Shelley',
  17),
 (126, 'The Awakening, and Selected Short Stories', 'Kate Chopin', 17)]

Git hub link for the project:

https://github.com/nashwa-mahmoud93/library_database_project